.avatar {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  margin-right: 16px;
}

.about-block {
  display: inline-block;
  vertical-align: top;
}

.top-line {
  display: block;
}


.about-text {
  padding-bottom: 16px;
}

.about-text h2{
  display: block;
  text-align: center;
}

.read-blog {
  display: inline-block;
  background-color: #008FF0;
  color: #FFF;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 6px;
}