@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.photos__container {
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

.photos__container:hover .photos__item:first-child {
  margin-left: -800px;
}

.photos__item:first-child {
  transition: all 5s linear;
}

.photos__item {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 24px;
  opacity: 0.8;
}

.photos__item_image {
  display: block;
  width: 100%;
  background-color: orange;
  min-height: 120px;
}

.photos__item_text {
  display: block;
  color: silver;
  font-style: italic;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: 'Raleway', sans-serif;
}